$btnDark: $blue6;

.main-btn {
    width: 100%;
    border: 0;
    padding: 10px;
    font-weight: bold;
    color: $btnDark;
    background-color: $blue0;
    border: 1px solid $btnDark;
}

.active-btn {
    color: $white;
    background-color: $btnDark;
}
