.basic-form-layout {
    padding: 20px 0;

    div {
        margin-bottom: 10px;

        label {
            display: block;
            margin-bottom: 5px;
        }

        input {
            width: 100%;
            border: transparent;
            padding: 5px;
            text-indent: 5px;
        }
    }

    button {
        margin-top: 10px;
    }
}
