@import 'src/app/styles/imports';

$light-blue: $purple0;
$dark-grey: $grey1;

.auth {
    &_container {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 30%;
        padding: 30px;
        border-radius: 3%;
        background-color: $blue0;
        color: $dark-grey;

        .logo_wrapper {
            width: 179px; // Not blurry when using this size.
            margin-left: 30px;
        }
    }

    &_wrapper {
        padding: 10px 30px;
    }

    &-btn {
        &_container {
            display: flex;
            justify-content: space-around;
        }

        &_wrapper {
            width: 50%;
            text-align: center;
        }
    }
}