@import 'variables/index';

* {
    box-sizing: border-box;
}

body {
    overflow: hidden;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    color: $grey1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    background-color: $grey1;
}

#root {
    height: 100%;
}

img {
    width: 100%;
}

ul {
    margin-bottom: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: $blue6;

    &:hover {
        color: $orange1;
    }
}
